header{
    background-image: url('../images/dashboardHeader.jpg');
    background-size: 50% 120%;
    background-repeat: no-repeat;
    border-bottom: solid rgb(0, 102, 102);
}

h1, h2 {
    margin: 16px 0 12px 0;
    font-weight: normal;
    color: #444;
    text-rendering: optimizelegibility;
}

.headerItems{
    text-align: center;
    padding: 10px 0px;
    background-color: rgba(252, 243, 235, 0.5);
}

.headerItems img{
  width: 10%;
}

.headerItems h1{
    line-height: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
}

.surveyList {
  padding-left: 0;
  text-align: center;
}

.surveyList li{
  list-style-type: none;
}

a, a:hover{
    text-decoration: none;
}

h3 {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 25px;
}

.bss h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.breastHealth h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.emergency h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.maternity h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.ortho h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

#bss-nav, #bh-nav, #emerg-nav, #matern-nav, #ortho-nav {
  display: none;
}

.barcontainer {
  position: relative;
  border: 1px solid rgb(0, 102, 102);
  border-radius: 5px;
  width: 80%;
  margin: 10px auto;
  min-height: 20vw;
  max-height: 25vw;
  min-width: 40%;
  max-width: 95%;
  z-index: 1;
}

.barcontainerheader {
  display: inline;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: rgb(0, 102, 102);
  border-bottom: 1px solid rgb(0, 102, 102);
  border-top: 1px solid rgb(0, 102, 102);
  font-size: 1em;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 0 black;
  z-index: 0;
}

.graphcontainer {
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
}

.bar {
  position: absolute;
  display: inline-block;
  bottom: 22px;
  border-radius: 6px 6px 0 0;
  background: #696;
  width: 10%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 0 black;
  box-shadow: 0px 0 0px #888;
}

.barlabel {
  position: absolute;
  display: inline-block;
  border: 1px solid rgb(242, 212, 186);
  background: rgb(252, 243, 235);
  bottom: 0;
  width: 10%;
  text-align: center;
  text-shadow: 0px 0px 0px black;
  color: #444;
}

.bar:nth-child(1), .barlabel:nth-child(2) {
  left: 5%;
}

.bar:nth-child(3), .barlabel:nth-child(4) {
  left: 20%;
}

.bar:nth-child(5), .barlabel:nth-child(6) {
  left: 35%;
}

.bar:nth-child(7), .barlabel:nth-child(8) {
  left: 50%;
}

.bar:nth-child(9), .barlabel:nth-child(10) {
  left: 65%;
}

.bar:nth-child(11), .barlabel:nth-child(12) {
  left: 80%;
}