header{
    background-image: url("{% static 'images/dashboardHeader.jpg' %}");
    background-size: 50% 120%;
    background-repeat: no-repeat;
    border-bottom: solid rgb(0, 102, 102);
}

h1, h2 {
    margin: 16px 0 12px 0;
    font-weight: normal;
    color: #444;
    text-rendering: optimizelegibility;
}

.headerItems{
    text-align: center;
    padding: 10px 0px;
    background-color: rgba(252, 243, 235, 0.5);
}

.headerItems img{
  width: 10%;
}

.headerItems h1{
    line-height: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
}

.surveyList {
  padding-left: 0;
  text-align: center;
}

.surveyList li{
  list-style-type: none;
  /*background-color: rgb(0, 102, 102);
  padding: 5px 0px;*/
}

.bss h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.breastHealth h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.emergency h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.maternity h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

.ortho h2{
    font-size: 22px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 30px;
    color: white;
    background-color: rgb(0, 102, 102);
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
}

