header {
  /*background-color: rgb(0, 102, 102);*/
  margin: 2% 10%;
}

header img {
  display: block;
  margin: auto;
  width: 15%;
}

header h1{
  text-align: center;
}

main {
  margin: 2% 15%;
}

main h3 {
  text-align: center;
}

.btn {
  display: block;
  margin: auto;
  background-color: rgb(0, 102, 102);
  color: white;
}

