* {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: #FF0000;
  color: white;
  font-family: "TradeGothicW01-Bold2", sans-serif;
}

header h1{
  padding: 1% 0;
}

header h2{
  padding-bottom: 1%;
}

h3 {
  text-align: center;
}

main img {
  display: block;
  margin: 0 auto;
}

main p {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

form {
  margin: 2% 10%;
}

fieldset {
  border: 1px solid red;
  margin: 2% 0;
  
}

legend {
  margin-left: 10px;
}

label {
			width: 5em;
			text-align: right;
}
input {
	margin-left: 1em;
	margin-bottom: 1em;
}

input:focus {
	border: 2px solid black; 
}



.defenders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /*flex-start is default*/
  align-items: center;
  flex-grow: 1;
  flex-basis: 250px;
  text-align: center;
}

.agents_of_shield1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /*flex-start is default*/
  align-items: center;
  flex-grow: 1;
  flex-basis: 250px;
  text-align: center;
}

.agents_of_shield2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /*flex-start is default*/
  align-items: center;
  flex-grow: 1;
  flex-basis: 250px;
  text-align: center;
}




footer {
  text-align: center;
  background-color: #FF0000;
  color: white;
}