<!DOCTYPE html>
{% load staticfiles %}
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.ketteringhealth.org/ico/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script type="text/javascript">
      function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
      }

    </script>
</head>
<body>
<header>
    <div class="headerItems">
        <img style="padding:7px 0;" src="http://www.ketteringhealth.org/images/logomobile.png"
             alt="Kettering Health Logo"/>
        <h1>Welcome to the Kettering Medical Network Admin Portal!</h1>
    </div>
</header>
<main>
    <div class="bss">
        <a href="#" onclick="toggle_visibility('bss-nav');"><h2>Brain, Stroke, & Spine</h2></a>
        <div id="bss-nav">
            {% if bsss %}
            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which condition applies to you for visiting our facility?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bsss.condition.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%
                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which of our centers in the NeuroScience Institute did you visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bsss.service.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you
                    visited?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bsss.quality.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Please indicate which of our support groups you may be intersted in attending, if any:
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bsss.support.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    How has your condition changed overall since your visit to our facility?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bsss.change.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="container">
                <h3>Comments</h3>
                <table class="table">
                    {% for entry in bsss.comments %}
                    <tr>
                        <td><p>{{entry}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <b>No results available.</b>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="breastHealth">
        <a href="#" onclick="toggle_visibility('bh-nav');"><h2>Breast Health</h2></a>
        <div id="bh-nav">
            {% if bhs %}
            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which of our Breast Evaluation Centers did you attend for your visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bhs.center.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    What procedure did you have completed during the visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bhs.procedure.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    How often do you get a mammogram?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bhs.mammogram.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you
                    visited?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bhs.quality.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Please indicate which of our support groups you may be intersted in attending, if any:
                </div>
                <div class="graphcontainer">
                    {% for entry, value in bhs.support.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="container">
                <h3>Comments</h3>
                <table class="table">
                    {% for entry in bhs.comments %}
                    <tr>
                        <td><p>{{entry}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <b>No results available.</b>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="emergency">
        <a href="#" onclick="toggle_visibility('emerg-nav');"><h2>Emergency</h2></a>
        <div id="emerg-nav">
            {% if es %}
            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Please select the reason for your recent visit to the Emergency Room.
                </div>
                <div class="graphcontainer">
                    {% for entry, value in es.condition.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Was Careflight needed to transport you to one of our facilities?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in es.careflight.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which location did you visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in es.location.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you
                    visited?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in es.quality.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="container">
                <h3>Comments</h3>
                <table class="table">
                    {% for entry in es.comments %}
                    <tr>
                        <td><p>{{entry}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <b>No results available.</b>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="maternity">
        <a href="#" onclick="toggle_visibility('matern-nav');"><h2>Maternity</h2></a>
        <div id="matern-nav">
            {% if ms %}
            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Please rate the overall quality of the Labor & Delivery Suite:
                </div>
                <div class="graphcontainer">
                    {% for entry, value in ms.quality.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    On average, about how often dname the nurse on duty check on the patient(s)?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in ms.frequency.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    After being discharged, how is the overall health of your baby/babies?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in ms.health.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    During your visit to our facility, did you interact with our Neonatal Intensive Care Unit (NICU) in
                    any way?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in ms.nicu.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    If you answered yes in the previous question, what was the reason that your child was cared for in
                    the NICU?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in ms.reason.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="container">
                <h3>Comments</h3>
                <table class="table">
                    {% for entry in ms.comments %}
                    <tr>
                        <td><p>{{entry}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <b>No results available.</b>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ortho">
        <a href="#" onclick="toggle_visibility('ortho-nav');"><h2>Orthopedics</h2></a>
        <div id="ortho-nav">
            {% if os %}
            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which condition applies to you for visiting our facility?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in os.condition.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which of the following treatments were performed at your visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in os.treatment.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    Which location did you visit?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in os.location.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='barcontainer'>
                <div class='barcontainerheader'>
                    What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you
                    visited?
                </div>
                <div class="graphcontainer">
                    {% for entry, value in os.quality.items %}
                    <div class='bar' style='height:{{value}}%'>
                        {{value}}%

                    </div>
                    <div class='barlabel'>
                            {{entry}}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <br/>
            <div class="container">
                <h3>Comments</h3>
                <table class="table">
                    {% for entry in os.comments %}
                    <tr>
                        <td><p>{{entry}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <b>No results available.</b>
                {% endif %}
            </div>
        </div>
    </div>
</main>
</body>
</html>