<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Breast Health Survey</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.ketteringhealth.org/ico/favicon.ico">
    <link rel="stylesheet" href="http://www.ketteringhealth.org/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <img style="padding:7px 0;" src="http://www.ketteringhealth.org/images/logomobile.png" alt="Kettering Health Logo">
      <h1>Breast Health Survey</h1>
    </header>
    <main>
    </br>
    <h3>Please fill out the following questionnaire based on your recent experience.</h3>
    <form action="{% url 'brSubmit' %}?uid={{request.GET.uid}}" method="post" class="form-inline">
      {% csrf_token %}
      <ol>
        <li><p>Which of our Breast Evaluation Centers did you attend for your visit?</p>
        <div class="col-md-2">
        <label>
        <input type="radio" name="breastCenter" value="Fort Hamilton"></input> Fort Hamilton Hospital (Hamilton) </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="breastCenter" value="Grandview"></input> Grandview Medical Center (Dayton) </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="breastCenter" value="Greene"></input> Greene Memorial Hospital (Xenia) </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="breastCenter" value="Soin Medical"></input> Soin Medical Center (Beavercreek) </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="breastCenter" value="Southview Medical"></input> Southview Medical Center (Centerville) </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="breastCenter" value="Sycamore Medical"></input> Sycamore Medical Center (Miamisburg) </label>
        </div>
        </li>
        <li>
          <p>What procedure did you have completed during the visit?</p>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastProcedure" value="Mammograms" checked></input> Diagnostic Mammograms </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastProcedure" value="Breast Ultrasound"></input> Breast Ultrasound </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastProcedure" value="Biopsy"></input> Biopsy </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastProcedure" value="Breast MRI"></input> Breast MRI </label>
          </div>
        </li>
        <li>
          <p>How often do you get a mammogram?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastMammogram" value="Once every year" checked></input> Once every year </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastMammogram" value="Once every two years"></input> Once every two years </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastMammogram" value="Once every three years"></input> Once every three years </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastMammogram" value="Once every four or more years"></input> Once every four or more years </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastMammogram" value="Never"></input> Never </label>
          </div>
        </li>
        <li>
          <p>What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you visited?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="Poor" checked></input> Poor </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="OK"></input> OK </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="Neutral"></input> Neutral </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="Good"></input> Good </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="Great"></input> Great </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="breastQuality" value="Excellent"></input> Excellent </label>
          </div>
        </li>
        <li>
          <p>Please indicate which of our support groups you may be intersted in attending, if any:</p>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastSupportGroup" value="Caring & Sharing" checked></input> Caring & Sharing </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastSupportGroup" value="SOAR"></input> Strength, Optimism, & Recovery (S.O.A.R.) </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastSupportGroup" value="Grief Support"></input> Grief Support Group </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="breastSupportGroup" value="Not interested"></input> Not interested </label>
          </div>
        </li>
        <li>
          <p>Please comment below if you have any further opinions on your recent visit.</p>
          <textarea class="form-control" name="comments" rows="5"></textarea>
        </li>
      </ol>
      <button class="btn">Submit</button>
    </form>
    </main>
  </body>
</html>