<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Emergency Survey</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.ketteringhealth.org/ico/favicon.ico">
    <link rel="stylesheet" href="http://www.ketteringhealth.org/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <img style="padding:7px 0;" src="http://www.ketteringhealth.org/images/logomobile.png" alt="Kettering Health Logo">
      <h1>Emergency Survey</h1>
    </header>
    <main>
    </br>
    <h3>Please fill out the following questionnaire based on your recent experience.</h3>
    <form action="{% url 'submit' %}" method="post" class="form-inline">
      {% csrf_token %}
      <ol>
        <li><p>Please select the reason for your recent visit to the Emergency Room.</p>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" value="Stroke/Seizure" checked></input> Stroke/Seizure </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition" value="Heart incident"></input> Heart attack/Heart-related incident </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition" value="Muscle sprain"></input> Muscle sprain </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition" value="Bone incident"></input> Bone fractures/breaks </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" value="Flu/Pnemonia"></input> Flu/Pnemonia </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" value="Trauma"></input> Trauma </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" value="Burns"></input> Burns </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" value="Other"></input> Other </label>
        </div>
        </li>
        <li>
          <p>Was Careflight needed to transport you to one of our facilities?</p>
          <div class="col-md-3">
          <label>
          <input type="radio" name="emergCareFlight" value="Yes" checked></input> Yes </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="emergCareFlight" value="No"></input> No </label>
          </div>
        </li>
        <li>
          <p>Which location did you visit?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal" value="Grandview" checked></input> Grandview Hospital </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal" value="Kettering Medical"></input> Kettering Medical Center </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal" value="Soin Medical"></input> Soin Medical Center </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal" value="Greene Memorial"></input> Greene Memorial Hospital </label>
          </div>
        </li>
        <li>
          <p>What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you visited?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="Poor" checked></input> Poor </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="OK"></input> OK </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="Neutral"></input> Neutral </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="Good"></input> Good </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="Great"></input> Great </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" value="Excellenet"></input> Excellent </label>
          </div>
        </li>
        <li>
          <p>Please comment below if you have any further opinions on your recent visit.</p>
          <textarea class="form-control" name="comments" rows="5"></textarea>
        </li>
      </ol>
    </form>
    <button class="btn">Submit</button>
    </main>
  </body>
</html>