<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Orthopedics Survey</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.ketteringhealth.org/ico/favicon.ico">
    <link rel="stylesheet" href="http://www.ketteringhealth.org/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <img style="padding:7px 0;" src="http://www.ketteringhealth.org/images/logomobile.png" alt="Kettering Health Logo">
      <h1>Orthopedics Survey</h1>
    </header>
    <main>
    </br>
    <h3>Please fill out the following questionnaire based on your recent experience.</h3>
    <form action="{% url 'submit' %}" method="post" class="form-inline">
        {% csrf_token %}
      <ol>
        <li><p>Which condition applies to you for visiting our facility?</p>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition" checked></input> Hip Replacement </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition"></input> Knee Replacement </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition"></input> Shoulder Replacement </label>
        </div>
        <div class="col-md-2">
        <label>
        <input type="radio" name="emergCondition"></input> Hand Surgery </label>
        </div>
        <div class="col-md-3">
        <label>
        <input type="radio" name="emergCondition"></input> Other </label>
        </div>
        </li>
        <li>
          <p>Which of the following treatments were performed at your visit?</p>
          <div class="col-md-3">
          <label>
          <input type="radio" name="emergCareFlight" checked></input> Consultation </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="emergCareFlight"></input> Surgery </label>
          </div>
          <div class="col-md-3">
          <label>
          <input type="radio" name="emergCareFlight"></input> Rehabilitation </label>
          </div>
        </li>
        <li>
          <p>Which location did you visit?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal" checked></input> Fort Hamilton Hospital - Orthopedics & Sports Medicine </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal"></input> Grandview Bone & Joint - Grandview Medical Center </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal"></input> Kettering Medical Center Joint Center </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal"></input> Soin Medical Center - Joint & Spine </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal"></input> Sycamore Medical Center - Joint & Spine </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergLocal"></input> Greene Memorial Hospital Orthopedics </label>
          </div>
        </li>
        <li>
          <p>What was the overall quality (cleanliness, nurse/phsyician attendence, etc.) of the facility you visited?</p>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality" checked></input> Poor </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality"></input> OK </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality"></input> Neutral </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality"></input> Good </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality"></input> Great </label>
          </div>
          <div class="col-md-2">
          <label>
          <input type="radio" name="emergQuality"></input> Excellent </label>
          </div>
        </li>
        <li>
          <p>Please comment below if you have any further opinions on your recent visit.</p>
          <textarea class="form-control" rows="5"></textarea>
        </li>
      </ol>
    </form>
    <button class="btn">Submit</button>
    </main>
  </body>
</html>