<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Survey Submitted</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.ketteringhealth.org/ico/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/submit.css' %}">
</head>
<body>
<div class="submitMessage">
    <h1>Thank you for participating!</h1>
    <h2>Your responses have been recorded.</h2>
    <img style="padding:7px 0;" src="http://www.ketteringhealth.org/images/logomobile.png" alt="Kettering Health Logo">
</div>
</body>
</html>